
body {
    background-color: rgb(241, 239, 234);
    margin: 0px;
}

hr {
    margin: 0;
}

.inicio {
    margin-top: 30px;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(20, 97, 56);
    text-align: center;
    background: no-repeat center/cover url("../imagem/imagem_fundo_semana01.jpg");
    margin: 0px;
}

.principal {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}

p {
    font-size: 14px;
}

button {
    border-radius: 15px ;
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
}



h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(11, 37, 13);
    text-align: center;
}


.imagens {
    width: 100%;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}

h2 {
    font-size: 18px;
}

.video {
    margin-top: 70px;
}

header {
    background-color: white;
}

.imagem-logo {
    width: 30px;
    margin-left: 15px;
}

header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}



nav  {
    float: right;
    display: block;
    padding-right: 50px;
    
}

nav a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 18px;
    background-color: white;
    padding: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: rgb(166, 224, 151);
    
}

footer {
    border-top: 1px solid rgb(208, 211, 196);
    background-color: rgb(208, 211, 196);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

footer p {
    margin-bottom: 0px;
}